@import "tailwindcss";
@plugin "daisyui";

@keyframes shimmer {
  0% { background-position: -500px 0; }
  100% { background-position: 500px 0; }
}

.animate-shimmer {
  background-size: 1000px 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 215, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 215, 0, 0.2) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shimmer 2s infinite linear;
}


.hover\:pause-marquee:hover {
  animation-play-state: paused;
}
